/node_modules
.env
/public/uploads/images/*
/public/uploads/images/profile/*
/public/uploads/images/article_headers/*
!/public/uploads/images/profile/default.png
!/public/uploads/images/article_headers/default.png