@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  margin: 0;
}

.full-screen-container {
  background-image: url('https://cdn.dribbble.com/users/1355613/screenshots/12585865/media/5bb86f4446b33a7a4624db3660398cd8.jpg?compress=1&resize=1000x750');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
  min-width: 400px;
  max-width: 600px;
}

.signup-container {
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
  min-width: 400px;
  max-width: 600px;
}
.login-title {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
}
.signup-title {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  color: #fff;
  font-weight: lighter;
  margin-bottom: 7px;
}

.input-group input {
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: lighter;
  width:400px;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.login-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}
.signup-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}
.login-button:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}

.login-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}
.h1{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: large;
  color: #fff;
}

.login-to-register {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.login-to-register a {
  color: cornflowerblue;
  text-decoration: none;
}